body {
    color: white;
    background-color: black;

}

#box {
    color: black;
    background-color: white;
    border: 1px solid black;
    height: 330px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.center{
    text-align: center;
}

.win {
    background-image: url("../assets/directionals/win.gif");
    background-size: cover;
}

.lose {
    background-image: url("../assets/directionals/Wrong.gif");
    background-size: cover;
}
