.contact_us{
    display: flex;
position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-top: 1px solid black;
    justify-content: space-between;
}

.contact_us a{
    color: #3B94D9;
    text-decoration: none;
}

.contact_us a:visited{
    color: #477e02;
}
.contact_us a:hover{
    color: #ffffff;
}
.contact_us *{
    align-self: center;
    padding: 2em 1.5em;
list-style-type: none;
    flex-shrink: 1;
}
.contact{

}
#logo{
    margin:auto;
    flex-grow: 3;
    flex-shrink: 0;
}

@media handheld, screen and (min-width: 1000px){
    .contact{

    }
    .contact_us{
        background-color: #333333;
        color: #DDDDDD;
    }
}